#blogs{
	.col-md-9{
		.blog{
			border-bottom: 2px dotted #CECECE;
			padding-bottom: 50px;
			h2{
				font-family: 'American';
				font-weight: 600;
				font-size: 45px;
				color:#333333;
			}
			p{
				font-weight: bold;
				display: inline-block;
				color:#696767;
			}
			img{
				height: 480px;
			}

			.text{
				font-weight: normal;
			}


			.tag{
				background: #EC9600;
				color:white;
				font-weight: bold;
				font-family: 'Comfortaa';
				font-size: 16px;
				padding:5px 10px;
				display: inline-block;
				border-radius:10px;
				transition: all .3s ease;
				&:hover{
					background:#D12881;
					cursor: pointer;
				}
			}
		}


		.leaveComment{
			margin-top: 50px;
			h3{
				font-weight: bold;
			}
			input{
				height: 45px;
			}
			input,textarea{
				width: 100%;
				border:1px solid #CECECE;
				border-radius:15px;
				padding:5px;
				font-family: 'Comfortaa';
				font-size: 17px;
				box-shadow:6px 6px 0px rgba(103, 102, 102, 0.2);
				margin-top: 20px;
				&:focus{
					border-radius:15px;
				}
			}

			.contact{
				width: 130px;
				color:white;
				cursor: pointer;
				border-radius:355px 45px 225px 75px/15px 225px 15px 255px;
				font-family: 'Comfortaa';
				border:none;
				box-shadow:none;
				background:#D12881;
				font-size: 14px;
				padding:10px;
				transition: all .2s ease;
				&:hover{
					background:#EC9600;
				}
			}
		}


		.comments{
			margin-top: 120px;	
			h2{
				color:#333333;	
				font-size: 40px;
				text-align: center;
				&:hover{
					color:none;
				}
			}
			hr{
				background: url('../images/content/hr.png');
				max-width: 100px;
				border: none !important;
				height: 5px;
			}


			.commentBox{
				border-top-left-radius: 120px 15px;
			    border-top-right-radius: 90px 5px;
			    border-bottom-left-radius: 10px 90px;
			    border-bottom-right-radius: 110px 20px;

			    background:#F3F0CF;
			    border:2px dotted #EDA627;
			    padding:20px;

			    .col-md-2{
			    	img{
				    	width: 120px;
				    	height: 120px;
				    	border-radius:100%;
				    	box-shadow:6px 6px 0px rgba(103, 102, 102, 0.2);
				    }
			    }

			   .col-md-10{
				   	 h3{
				    	color:#34327C;
				    	display: inline-block;
				    	margin-left:20px;
				    	font-weight: bold;
				    	cursor: pointer;
				    }
				    .time{
				    	color:#D12881;
				    	font-weight: bold;
				    	margin-left: 20px;
				    	font-size: 16px;
				    	font-family: 'Comfortaa';
				    }
				    .text{
				    	margin-left: 20px;	
				    	margin-top: -3px;
				    }


				    .reply{
						font-weight:bold;
						font-size: 16px;
						color:white;
						cursor: pointer;
						border-radius:355px 45px 225px 75px/15px 225px 15px 255px;
						font-family: 'Comfortaa';
						border:none;
						box-shadow:none;
						background:#D12881;
						padding:10px;
						transition: all .2s ease;
						&:hover{
							background:#EC9600;
						}
					}
			   }
			}

			.nestedComment{
				margin-top: 40px;
				margin-bottom:40px;
				.col-md-10{
					.time,.text,h3{
						margin-left: 40px;
					}
				}
			}
		}
	}
}
@media(max-width:500px){
	#blogs{
		.comments{
			img{
				margin:auto;
			}
			.time,.date,h3{
				margin-left: 0;
			}

			.nestedComment{
				.col-md-10{
					.time,.text,h3{
						margin-left: -50px;
					}
				}
			}
		}

	}
}