#info{
	background:url('../images/content/info.jpg') fixed;
	background-size:cover;
	border-top:10px solid #34327C;
	border-bottom:10px solid #34327C;
	.infoPanel{
		background:white;
		margin-top: 90px;
		margin-bottom:90px;
		border-radius:15px;
		box-shadow:6px 6px 0px rgba(103, 102, 102, 0.2);
		padding:30px;
		float: right;
		h2{
			font-family: 'American';
			font-size:46px;
		}
		.text{
			color:#7E6767;
			font-size: 16px;
			font-family: 'Comfortaa';
		}
		.contact{
			color:white;
			width: 130px;
			margin:auto;
			border-radius:355px 45px 225px 75px/15px 225px 15px 255px;
			font-family: 'Comfortaa';
			border:none;
			background:#D12881;
			font-size: 17px;
			cursor:pointer;
			padding:10px;
			margin-top:24px;
			transition: all .2s ease;
			&:hover{
				background:#EC9600;
			}
		}
	}
}